.container {
  max-width: 350px;
  margin: auto;
  height: 60vh;
   overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  margin-bottom: 23px;
}
.container::-webkit-scrollbar { 
    width: 0;
    height: 0;  /* Safari and Chrome */
}

.logo {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

.left,
.right {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px 9px;
  max-width: 50%;
  clear: both;
  position: relative;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

.left {
  float: left;
  margin-right: auto;
  -webkit-border-radius: 8px 8px 8px 0px;
  -moz-border-radius: 8px 8px 8px 0px;
  -o-border-radius: 8px 8px 8px 0px;
  -ms-border-radius: 8px 8px 8px 0px;
  border-radius: 8px 8px 8px 0px;
  background-color: #eeeeee;
  color: black;
}

.right {
  float: right;
  margin-left: auto;
  text-align: inherit;
  -webkit-border-radius: 8px 8px 0px 8px;
  -moz-border-radius: 8px 8px 0px 8px;
  -o-border-radius: 8px 8px 0px 8px;
  -ms-border-radius: 8px 8px 0px 8px;
  border-radius: 8px 8px 0px 8px;
  background-color: #03A9F4;
  color: white;
}
.joinedchat {
  display: block;
  margin: auto;
  max-width: 100px;
  text-align: center;
  padding: 2px;
  clear: both;
  font-weight: bold;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 3px 3px 3px 3px;
  background-color: #ADD8E6 ;
  background-color: #ffdead;
  color: black;
}

.leftchat{
  display: block;
  margin: auto;
  max-width: 100px;
  text-align: center;
  padding: 2px;
  clear: both;
  font-weight: bold;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 3px 3px 3px 3px;
  background-color: #ADD8E6 ;
  color: black;
}

.head {
  
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 2px 2px 2px 2px;
  background-color: #93c572;
  color: black;
}
#send-container {
  display: block;

  text-align: center;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: dodgerblue;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 7px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  content: "\00bb";
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  padding-right: 25px;
}

.button:hover:after {
  opacity: 1;
  right: 0;
}

input[type="text"] {
  width: 200px;
  height: 30px;
  position: relative;
  border-radius: 4px 4px 4px 4px;
  outline: none;
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;

  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.textBox {
  width: 526px;
  margin-right: -4px;
}
